.skewed-background {
  padding: 200px 0;
  -webkit-transform: skew(0deg, -10deg);
  transform: skew(0deg, -10deg);
  height: 30%;
  z-index: -10;
  position: relative;
}

.content-container {
  width: 800px;
  height: 800px;
  margin: 20px;
  float: left;
}

.spotify-item-div {
  float: left;
  margin: 20px;
}

.spotify-logo {
  height: 100px;
}

.whole-background {
  top: 0px !important;
  left: 0px !important;
}

.background-standard {
  background: #BBCCDD;
}

.background-light {
  background: #88BBBB;
}

.background-medium {
  background: #55AAAA;
}

.background-dark {
  background: #226666;
}

.background-base {
  background: #448899;
}

body {
  background-color: #BBCCDD !important;
}

.title {
  margin-top: 20px;
  margin-left: 15%;
  color: #448899;
  font-size: 2em;
  font-family: "Times New Roman", Times, serif;
}

.title b {
  font-size: 5em;
}

.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar input {
  width: 75%;
}

.video-item img {
  max-width: 64px;
}

.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}
