.skewed-background {
  padding: 200px 0;
  -webkit-transform: skew(0deg, -10deg);
  transform: skew(0deg, -10deg);
  height: 30%;
  z-index: -10;
  position: relative;
}

.selected-content {
  height: 600px;
  margin: 60px;
  padding: 30px;
}

.selected-content .spotify-div {
  margin-bottom: 30px;
}

.selected-content .youtube-div {
    width: 500px;
    float: left;
}

.content-container {
  width: 800px;
  height: 700px;
  margin: 20px;
  float: left;
}

.spotify-item-div {
  float: left;
  margin: 20px;
  position: relative;
  height: 300px
}

.spotify-item-details {
  width: 100%;
}

.spotify-item-div:hover {
  -webkit-filter: brightness(30%);
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}

.spotify-logo {
  height: 70px;
}

.soundcloud-item-div {
  float: left;
  margin: 20px;
}

.soundcloud-item-div:hover {
  -webkit-filter: brightness(30%);
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}

.soundcloud-div {
  float: right;
  width: 50%;
  height: 100%;
  padding: 20px;
}

.soundcloud-logo {
  height: 70px;
}

.youtube-item-div {
  float: left;
  margin: 30px;
}

.youtube-item-div:hover {
  -webkit-filter: brightness(30%);
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}

.youtube-logo {
  height: 70px;
}

.youtube-video-player {
  height: 540px;
  width: 960px;
  float: right;
}

.whole-background {
  top: 0px !important;
  left: 0px !important;
}

.background-standard {
  background: #BBCCDD;
}

.background-light {
  background: #88BBBB;
}

.background-medium {
  background: #55AAAA;
}

.background-dark {
  background: #226666;
}

.background-base {
  background: #448899;
}

body {
  background-color: #BBCCDD !important;
}

.title {
  margin-top: 20px;
  text-align: center;
  color: #448899;
  font-size: 2em;
  font-family: "Times New Roman", Times, serif;
}

.title b {
  font-size: 5em;
}

.search-bar {
  margin: 20px;
}

.search-bar-div {
  padding: 10px;
  border: 2px solid #448899;
  border-radius: 5px;
  width: 50%;
  margin-left: 25%;
}

.search-bar input {
  width: 70%;
  height: 40px;
  border: none;
  background-color: inherit;
}

.search-bar input:focus {
  outline: none;
}

.search-bar button {
  border: 0;
  height: 40px;
  width: 30%;
  background-color: #448899;
  color: white;
}
